/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --text-background-color: #ff0070;
  --title-color: #DB00FF;
  --background-color: #000028;
  --text-color: #F1B2CE;
  --section-title-color: #ff0070;
  --header-text-color: #000028;
  --shadow-color: #ff0070;
  --card-title-color: #000028;
  --header-decor-color: #ff0070;
  --botton-and-coner-color: #ff0070;
  --backgroud-img: url(../images/cover-image-dark.png);
}

.page {
  background-color: var(--background-color);
}

.header {
  background-image: var(--backgroud-img);
  background-position: center;
  background-size: cover;
}

.header__theme-menu-button {
  color: var(--botton-and-coner-color);
}

.header__decor-text {
  color: var(--header-decor-color);
}

.header__title-text {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__text-corner {
  border-inline-start: 1px solid var(--botton-and-coner-color);
  border-block-end: 1px solid var(--botton-and-coner-color);
}

.header__theme-menu-coner {
  border-block-start: 1px solid var(--botton-and-coner-color);
  border-inline-end: 1px solid var(--botton-and-coner-color);
}

.header__theme-menu-coner::before {
  display: flex;
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--header-decor-color);
  box-shadow: 0 0 5px 3px var(--header-decor-color);
  border-radius: 50%;
}

.header__text-paragraph {
  color: var(--header-text-color);
  background-color: var(--text-background-color);
}

.main__titles {
  color: var(--section-title-color);
}

.title-decor {
  background-color: var(--text-background-color);
  color: var(--card-title-color);
}

.card__text {
  color: var(--text-color);
}

.card__text-link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
}