/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}



.page {
  background-color: var(--background-color-light);
}

.header {
  background-image: url(../images/cover-image-light.png);
  background-position: center;
  background-size: cover;
}

.header__theme-menu-button {
  color: var(--text-color-light);
}

.header__decor-text {
  color: var(--background-color-light);
}

.header__title-text {
  color: var(--title-color-light);
  text-shadow: 4px 4px 0 var(--main-color);
}

.header__text-corner {
  border-inline-start: 1px solid var(--text-color-light);
  border-block-end: 1px solid var(--text-color-light);
}

.header__theme-menu-coner::before {
  display: flex;
  content: '';
  width: 9px;
  height: 9px;
  background-color: var(--background-color-light);
  box-shadow: 0 0 5px 3px var(--background-color-light);
  border-radius: 50%;
}

.header__theme-menu-coner {
  border-block-start: 1px solid var(--text-color-light);
  border-inline-end: 1px solid var(--text-color-light);
}

.header__text-paragraph {
  color: var(--text-color-light);
  background-color: var(--main-color-ligt);
}

.main__titles {
  color: var(--text-color-light);
}

.title-decor {
  background-color: var(--main-color-ligt);
  color: var(--text-color-light);
}

.card__text {
  color: var(--text-color-light);
}

.card__text-link {
  text-decoration: none;
  color: var(--text-color-light);
  text-shadow: 2px 2px 0 var(--main-color-ligt);
}

.footer__title {
  color: var(--title-color-light);
  text-shadow: 2px 2px 0 var(--main-color);
}