.page.theme_light {
  --text-background-color: #FF8DCB;
  --title-color: #ffc2e6;
  --background-color: #FFF1F7;
  --text-color: #353430;
  --section-title-color: #353430;
  --header-text-color: #353430;
  --shadow-color: #ff0070;
  --card-title-color: #353430;
  --header-decor-color: #fff1f7;
  --botton-and-coner-color: #353430;
  --shadow-color-link: #ff8dcb;
  --botton-outline-hover: rgba(50, 49, 45, 0.40);
  --shadow-color-title: #ff8dcb;
  --backgroud-img: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-background-color: #FF8DCB;
    --title-color: #ffc2e6;
    --background-color: #FFF1F7;
    --text-color: #353430;
    --section-title-color: #353430;
    --header-text-color: #353430;
    --shadow-color: #ff0070;
    --card-title-color: #353430;
    --header-decor-color: #fff1f7;
    --botton-and-coner-color: #353430;
    --shadow-color-link: #ff8dcb;
    --botton-outline-hover: rgba(50, 49, 45, 0.40);
    --shadow-color-title: #ff8dcb;
    --backgroud-img: url(../images/cover-image-light.png);
  }
}