/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --text-background-color: #ff0070;
}

:root {
  --title-color: #DB00FF;
}

:root {
  --background-color: #000028;
}

:root {
  --text-color: #F1B2CE;
}

:root {
 --section-title-color: #ff0070;
}

:root {
  --header-text-color: #000028;
}

:root {
  --shadow-color: #ff0070;
}

:root {
  --card-title-color: #000028;
}

:root {
  --header-decor-color: #ff0070;
}

:root {
  --botton-and-coner-color: #ff0070;
}

:root {
  --botton-outline-hover: rgba(50, 49, 45, 0.40);
}

:root {
  --backgroud-img: url(../images/cover-image-dark.png);
}